.text-input {
    width: 100%;
    padding: 0.5rem 1rem;
    color: #FBFBFB;
    background-color: #525356;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    outline: none !important;
    transition: all .4s ease;
}

.lyrics-button {
    display: block;
    float: right;
    margin: 16px 0 0 0;
    cursor: pointer;
    color: #1E2023;
    background-color: #00FFF6;
    line-height: 1.5;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: color .25s ease, background .25s ease;
}

.lyrics-button:hover {
    background-color: #D8FFFC;
}

.lyrics-button[disabled] {
    background-color: #525356;
    pointer-events: none;
}

.waiting-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.waitingText{
    text-align: center;
    margin-right: 20px;
}

.verse-container {
    margin-bottom: 20px;
}

.verse-row {
    margin: 0;
}

.pos{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.select {
    border: none;
    width: 120px;
    height: 30px;
    padding-left: 10px;
    cursor: pointer;
    outline: none;
}
